*.class
*.log.*
*.log

.metadata/
RemoteSystemsTempFiles/
.DS_Store/
Servers/
bin/
upload_img/
classes/
backup/
src/data-origin-generator/webapp/
.recommenders
.gitignore
.idea/
.settings/
.classpath
temp/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
